/* CSS Document */

/* ALL_setting
================================================== */
*{
	margin:0;
	padding:0;
	font-family: Meiryo, sans-serif, monospace;
	border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
	line-height: 1;
	height:100%;
	background-color:#000;
}

body.page {
    overflow-y: scroll
}

header{
	display: block;
}

.clear{clear:both;}



.pc{ display: inherit; }
.sp{ display: none; }
.tablet_menu{ display: none; }
@media screen and (max-width: 699px){
.pc{ display: none; }
.sp{ display: inherit; }
}
@media screen and (max-width: 900px){
.tablet_menu{ display: inherit; }
}

/* left_menu_setting
================================================== */

#left_menu_wrapper {
    position: fixed;
    top: 0;
    left: 0;
	bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    min-height: 100%;
    background: #000;
	background-image:url(../images/left_menu_bg.png);
	background-size: cover;
    text-align: left;
	overflow-x: hidden;
	overflow-y: hidden;
    z-index: 100;
}

.scroll_box{
	height:100%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	width: calc(100% + 17px);
	padding-right: 17px;
	overflow-y: scroll;
}

#logo {
    padding-top:60px;
	padding-bottom: 50px;
}

#gnav li {
    line-height: 2.5;
}

.left_menu_footer_icon{
display: table;
width: 50%;
margin: auto;
text-align: center;
padding-top: 50px;
}

.left_bt{
display: table-cell;
padding-right: 16px;
text-align: center;
}

.left_menu_space{
	width: 10px;
	height: 100px;
}



/* main_contents_setting
================================================== */

#stage {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 768px;
    min-height: 100vh
}

#visual {
    position: fixed;
    top: 0;
    left: 200px;
    width: calc((100% - 200px) / 1.8);
    height: 100%;
    min-width: 384px
}

#top #visual {
    background: url("../images/top_main_image.jpg") no-repeat 50% 0;
    background-size: cover;
}

#story #visual {
    background: url("../images/story_main_image.jpg") no-repeat 50% 0;
    background-size: cover;
}

#music #visual {
    background: url("../images/music_main_image2.jpg") no-repeat 50% 0;
    background-size: cover;
}

#movie #visual {
    background: url("../images/movie_main_image.jpg") no-repeat 50% 0;
    background-size: cover;
}

#spec #visual {
    background: url("../images/story_main_image.jpg") no-repeat 50% 0;
    background-size: cover;
}

#special #visual {
    background: url("../images/special_main_image.jpg") no-repeat 50% 0;
    background-size: cover;
}

#retweet #visual {
    background: url("../images/retweet_main_image.jpg") no-repeat 50% 0;
    background-size: cover;
}

#gallery #visual {
    background: url("../images/movie_main_image.jpg") no-repeat 50% 0;
    background-size: cover;
}

#download #visual {
    background: url("../images/download_main_image.jpg") no-repeat 50% 0;
    background-size: cover;
}


#main_inner {
    position: relative;
    width: 40%;
    min-height: 100vh;
    margin-left: 60%;
	background-color: white;
	min-width: 500px;
	padding-bottom: 100px;
}
.main_logo{
	width: 32%;
	margin: auto;
	padding-top: 16%;
	min-width: 269px;
}

.release_date{
	width: 46%;
	margin: auto;
	padding-top: 5%;
	min-width: 269px;
}

.inner {
    width: 501px;
    margin: 0 auto;
	
}


.banner_box{
	width:420px;
	margin: auto;
	display: table;
	padding-top: 20px;
}

.banner_left{
	width: 200px;
	text-align: left;
	display: table-cell;
	padding-right: 20px;
}
.banner_right{
	width: 200px;
	text-align: right;
	display: table-cell;
}

/* news_setting
================================================== */
.news_title{
	padding-top: 50px;
}

.news_footer{
	padding-top: 12px;
	padding-bottom: 20px;
}

.news_box{
	width: 500px;
	margin: auto;
    font-size: 0.9rem;
    line-height: 1.8;
    font-weight: 300;
	display: table;
	padding-top:12px;
	padding-bottom: 12px;
	border-bottom: dotted 1px #000000;
}

.news_text{
	width:450px;
	display: table-cell;
}
.news_arrow{
	width:50px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.news_data{
	color: #0000e6;
	font-weight: bold;
}

.more_text{
	text-align: center;
	width: 200px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border: #000000 solid 1px;
	margin-top: 20px;
}

/* footer_setting
================================================== */

.footer_box{
	position: fixed;
	top: 20px;
	right: 20px;
}

.footer_arrow{
	position: fixed;
	bottom: 20px;
	right: 20px;
}


/* character_setting
================================================== */

.character_title{
	width: 501px;
	margin: auto;
	padding-top: 50px;
}

.character_box{
	width:500px;
	height: 180px;
	margin: auto;
	display: table;
	padding-top:20px;
	padding-bottom: 20px;
}

.character_left_icon{
	width:11px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.character_right_icon{
	width:11px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.character_box .thumb{width: 462px; margin: auto; display: table-cell; text-align: center; padding-left: 16px;}

.character_box .thumb .thumb1,.character_box .thumb .thumb2,.character_box .thumb .thumb3,.character_box .thumb .thumb4,.character_box .thumb .thumb6,.character_box .thumb .thumb7,.character_box .thumb .thumb8,.character_box .thumb .thumb9{float: left; padding-right: 10px;cursor: pointer; cursor: hand;}
.character_box .thumb .thumb5,.character_box .thumb .thumb10{float: left; cursor: pointer; cursor: hand;}

li{list-style: none;}


#visual .main{
	width: 100%;
	height: 100%;
}

@-webkit-keyframes fadein{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fadein{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadein{
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadein2{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fadein2{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadein2{
    0% {opacity:0;}
    100% {opacity:1;}
}

#visual .main .item1{    
    background: url("../images/chara_bg_araya.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein 1s linear 0s forwards;
	animation: fadein 1s linear 0s forwards;
	}
	
#visual .main .item1_after{
    background: url("../images/chara_bg_araya_after.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein2 1s linear 0s forwards;
	animation: fadein2 1s linear 0s forwards;
	}
	
#visual .main .item2{    
    background: url("../images/chara_bg_uguisu.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein 1s linear 0s forwards;
	animation: fadein 1s linear 0s forwards;
	}
	
#visual .main .item2_after{    
    background: url("../images/chara_bg_uguisu_after.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein2 1s linear 0s forwards;
	animation: fadein2 1s linear 0s forwards;
	}	
	
	
#visual .main .item3{    
    background: url("../images/chara_bg_rein.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein 1s linear 0s forwards;
	animation: fadein 1s linear 0s forwards;
	}

#visual .main .item3_after{    
    background: url("../images/chara_bg_rein_after.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein2 1s linear 0s forwards;
	animation: fadein2 1s linear 0s forwards;
	}
	
	
#visual .main .item4{    
    background: url("../images/chara_bg_seira.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein 1s linear 0s forwards;
	animation: fadein 1s linear 0s forwards;
	}

#visual .main .item4_after{    
    background: url("../images/chara_bg_seira_after.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein2 1s linear 0s forwards;
	animation: fadein2 1s linear 0s forwards;
	}
	
#visual .main .item5{    
    background: url("../images/chara_bg_kanna.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein 1s linear 0s forwards;
	animation: fadein 1s linear 0s forwards;
	}

#visual .main .item5_after{    
    background: url("../images/chara_bg_kanna_after.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein2 1s linear 0s forwards;
	animation: fadein2 1s linear 0s forwards;
	}
	
#visual .main .item6{    
    background: url("../images/chara_bg_kiriko.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein 1s linear 0s forwards;
	animation: fadein 1s linear 0s forwards;
	}

#visual .main .item6_after{    
    background: url("../images/chara_bg_kiriko_after.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein2 1s linear 0s forwards;
	animation: fadein2 1s linear 0s forwards;
	}
	
#visual .main .item7{    
    background: url("../images/chara_bg_kirari.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein 1s linear 0s forwards;
	animation: fadein 1s linear 0s forwards;
	}

#visual .main .item7_after{    
    background: url("../images/chara_bg_kirari_after.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: fadein2 1s linear 0s forwards;
	animation: fadein2 1s linear 0s forwards;
	}
	
#visual .main .item8{    
    background: url("../images/chara_bg_madoka.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	}
#visual .main .item9{    
    background: url("../images/chara_bg_kento.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	}
#visual .main .item10{    
    background: url("../images/chara_bg_kanata.jpg") no-repeat 50% 0;
    background-size: cover;
	width: 100%;
	height: 100%;
	}
	
.item2,.item3,.item4,.item5,.item6,.item7,.item8,.item9,.item10{display: none;}

.character_arrow .thumb{
	width: 300px;
	margin: auto;
	display: table;
	padding-bottom: 20px;
	padding-top: 10px;
}

.character_arrow .thumb #arrow div {width:50px;}

.character_main_box{
	width: 500px;
	margin: auto;
	text-align: center;
	display: table;
}

.character_title{
	text-align: center;
	padding-bottom: 20px;
}
.character_voice_title{text-align: center; padding-bottom: 20px;}
.character_voice_box{width: 500px; margin: auto; display: table; padding-bottom: 20px;}
.character_voice_bt{width:64px; padding-right: 36px; display: table-cell;}

.character_spec_title{text-align: center; padding-bottom: 20px;}
.character_spec_text{text-align: center; padding-bottom: 20px;}
.character_profile_title{text-align: center; padding-bottom: 20px;}
.character_profile_text{text-align: center; padding-bottom: 20px;}
.character_scene_title{text-align: center; padding-bottom: 20px;}
.character_scene_text{text-align: center; padding-bottom: 20px;}
.character_staff_title{text-align: center; padding-bottom: 20px;}
.character_staff_text{text-align: center; padding-bottom: 20px;}
.character_end{text-align: center; padding-bottom: 20px;}



.character_clothes_box{width: 111px; display: table-cell; vertical-align: top;}
.character_name_1{width:111px; padding-bottom: 20px;}
.character_clothes_bt1_1,.character_clothes_bt1_2{width: 91px; padding-bottom: 10px;}

.character_image_1{width: 159px; display: table-cell; vertical-align: bottom;}
.character_image_2{width: 150px; display: table-cell; vertical-align: bottom;}
.character_image_3{width: 181px; display: table-cell; vertical-align: bottom;}
.character_image_4{width: 193px; display: table-cell; vertical-align: bottom;}
.character_image_5{width: 251px; display: table-cell; vertical-align: bottom;}
.character_image_6{width: 154px; display: table-cell; vertical-align: bottom;}
.character_image_7{width: 243px; display: table-cell; vertical-align: bottom;}
.character_image_8{width: 161px; display: table-cell; vertical-align: bottom;}
.character_image_9{width: 158px; display: table-cell; vertical-align: bottom;}
.character_image_10{width: 181px; display: table-cell; vertical-align: bottom;}

.character_catch_1{width: 113px; display: table-cell; vertical-align: top;}



/* story_setting
================================================== */
.story_title{
	padding-top: 70px;
	padding-bottom: 30px;
	width: 181px;
	margin:auto;
}

.story_text{
	width: 408px;
	margin: auto;
}

.story_border{
	width: 501px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.story_text2{
	width: 432px;
	margin: auto;
}

.story_border2{
	width: 501px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.story_border3{
	width: 501px;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}


/* movie_setting
================================================== */
.movie_title{
	padding-top: 70px;
	padding-bottom: 20px;
	width: 501px;
}

.movie_teaser_title{
	width:177px;
	margin: auto;
	padding-bottom: 20px;
}

.movie_op_title{
	width:133px;
	margin: auto;
	padding-bottom: 20px;
}

.movie_teaser{
	width: 461px;
	margin: auto;
}

/* spec_setting
================================================== */
.spec_title{
	padding-top: 70px;
	padding-bottom: 20px;
	width: 501px;
}

.spec_text_1{
	width: 388px;
	margin: auto;
	padding-top: 20px;
}

.spec_text_2{
	width: 432px;
	margin: auto;
	padding-top: 20px;
}


/* music_setting
================================================== */

.music_text_1{
	width: 216px;
	margin: auto;
	padding-bottom: 20px;
}

.music_text_2{
	width: 216px;
	margin: auto;
	padding-bottom: 60px;
}

.music_text_3{
	width: 266px;
	margin: auto;
	padding-bottom: 20px;
}

.music_text_4{
	width: 221px;
	margin: auto;
	padding-bottom: 60px;
}

.music_text_5{
	width: 389px;
	margin: auto;
	padding-bottom: 60px;
}
.music_text_6{
	width: 419px;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 20px;
}

.music_text_7{
	width: 480px;
	margin: auto;
	padding-bottom: 40px;
	padding-top: 20px;
}

.music_text_8{
	width: 156px;
	margin: auto;
	padding-bottom: 4px;
	padding-top: 20px;
}

.music_text_9{
	width: 211px;
	margin: auto;
	padding-bottom: 20px;
	padding-top: 16px;
}

.music_text_10{
	width: 334px;
	margin: auto;
	padding-bottom: 20px;
	padding-top: 16px;
}

.music_vc_movie{
	width: 461px;
	margin: auto;
	padding-top: 16px;
}

.music_jacket{
	width: 390px;
	margin: auto;
	padding-bottom: 20px;
}


/* special_setting
================================================== */

#special_wrapper {
    position: absolute;
    min-height: 100vh;
	background-color: white;
    top: 0;
    left: 200px;
    width: calc((100% - 200px) / 1);
    height: 100%;
}

.special_title{
	padding-top: 70px;
	padding-bottom: 20px;
	width: 224px;
	margin:auto;
}

.special_text1{
	width:133px;
	margin: auto;
	padding-bottom: 40px;
}

.special_text2{
	width:450px;
	margin: auto;
	padding-bottom: 40px;
}

.special_image{
	width: 345px;
	margin: auto;
	padding-bottom: 40px;
}

.special_event_bt{
	font-size:16px;
	color:black;
	text-align:center;
	margin-left: auto;
	margin-right:auto;
	margin-top:1%;
	margin-bottom:1%;
	padding-top: 10px;
	padding-bottom: 10px;
	width:80%;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.event_table_style1{
	font-size:16px;
	color:black;
	text-align:center;
	line-height:30px;
	border:solid 1px #20c1dd;
}

.event_table_style2{
	font-size:16px;
	line-height:30px;
	padding-left:20px;
}

.special_tenpo_wrapper{
	width: 100%;
	display: table;
	padding-bottom: 4%;
}

.special_tenpo_cell{
	display: table-cell;
	font-size:16px;
	color:#0000e6;
	text-align:center;
	line-height:30px;
	border:solid 1px #0000e6;
	vertical-align: middle;
	width: 20%;
}

.special_tenpo_cell2{
	display: table-cell;
	font-size:16px;
	line-height:30px;
	padding-left:20px;
	vertical-align: middle;
	width: 80%;
}

.special_tenpo_bt{
	width: 264px;
	margin: auto;
	text-align: center;
}

.special_tenpo_bt:hover{
	opacity: 0.6;
}

.special_limited_text1{
	width: 111px;
	margin: auto;
	padding-bottom: 40px;
}
.special_limited_text2{
	width: 418px;
	margin: auto;
	padding-bottom: 40px;
}

.special_vakoubaibu_bt{
	width:265px;
	margin: auto;
	padding-bottom: 40px;
	text-align: center;
}

.special_vakoubaibu_bt:hover{
	opacity: 0.6;
}


.special_limited_text3{
	width: 457px;
	margin: auto;
	padding-bottom: 40px;
}

.special_shop_tokuten_title{
	padding-top: 30px;
	width: 441px;
	margin: auto;
}

.special_shop_tokuten_image1{
	width: 506px;
	margin: auto;
	padding-top: 50px;
}
.special_shop_tokuten_image2{
	width: 441px;
	margin: auto;
	padding-top: 50px;
}

.special_shop_tokuten_image3{
	width: 438px;
	margin: auto;
	padding-top: 50px;
}

/* campaign_setting
================================================== */
.campaign_title{
	padding-top: 70px;
	padding-bottom: 30px;
	width: 247px;
	margin:auto;
}

.campaign_style1{
	background-color: #0000e6;
	color: white;
	padding-top:16px;
	padding-bottom: 16px;
	font-weight: bold;
	text-align: center;
}

.campaign_style2{
	border: solid 1px #0000e6;
	text-align: center;
	padding-top:8px;
	padding-bottom: 8px;
}


.campaign_style3{
	border: solid 1px #0000e6;
	text-align: center;
	padding-top:20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #0000e6;
}

.campaign_style3:hover{
	background-color: #0000e6;
	color: white;
}

.campaign_text{
line-height: 30px;
}


.campaign_title_style1{
	border-left: solid 4px #0000e6;
	padding-left: 10px;
	font-size: 18px;
	color: #0000e6;
	font-weight: bold;
}

/* gallery_setting
================================================== */
.gallery_title{
	padding-top: 70px;
	padding-bottom: 0px;
	width: 224px;
	margin: auto;
}

.gallery_box{
	width: 100%;
	display: inline-block;
}

.gallery_thum{
	width: 49%;
	display: inline-block;
}

.gallery_thum_box_sp{
	width: 90%;
	margin: auto;
}



/* download_setting
================================================== */

#download_trial_image {
	height: 281px;
	width: 500px;
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	margin:auto;
}

#download_trial_image>div {
    position: absolute;
    top: 0;
    opacity: 0;
}

.download_link_box{
	width: 500px;
	display: table;
	padding-top: 20px;
}

.download_link_bt{
	width: 240px;
	display: table-cell;
	text-align: center;
}

.donwload_link_space{
	width: 10px;
	display: table-cell;
}

.master_up_box{
	margin: auto;
	width: 422px;
	padding-top: 4%;
}


/* tablet_setting
================================================== */

@media screen and (max-width:899px) {
    .tablet {
        display: block
    }
    #left_menu_wrapper{
        display: none
    }
    #main {
        padding-left: 0
    }
    #visual {
        left: 0;
        width: 100%;
		height: 80vh;
		min-width: 0px;
		position: relative;
    }
    #special_wrapper  {
        left: 0;
        width: 100%;
		height: 80vh;
		min-width: 0px;
		position: relative;
    }
	#stage {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 0px;
    min-height: 100vh;
	}

#main_inner {
    position: relative;
    width: 100%;
    min-height: 100vh;
	min-width: 0px;
    margin-left: 0%;
	background-color: white;
  
}
.news_box{
	width: 100%;
	margin: auto;
    font-size: 0.9rem;
    line-height: 1.8;
    font-weight: 300;
	display: table;
	padding-top:12px;
	padding-bottom: 12px;
	border-bottom: dotted 1px #000000;
}
.news_text{
	width:80%;
	display: table-cell;
}
.news_arrow{
	width:20%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.inner {
    width: 100%;
    margin: 0 auto;
	
}

.main_logo{
	width: 32%;
	margin: auto;
	padding-top: 16%;
	min-width: 0px;
}

.story_title{
	padding-top: 70px;
	padding-bottom: 50px;
	width: 80%;
	margin: auto;
}

.story_text{
	width: 80%;
	margin: auto;
}

.story_border{
	width: 80%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.story_text2{
	width: 80%;
	margin: auto;
}

.story_border2{
	width: 80%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}


.character_title{
	width: 80%;
	margin: auto;
	padding-top: 50px;
}

.character_box{
	width: 80%;
	height: 180px;
	margin: auto;
	display: table;
	padding-top:20px;
	padding-bottom: 20px;
}

.character_arrow .thumb{
	width: 30%;
	margin: auto;
	display: table;
	padding-bottom: 20px;
	padding-top: 10px;
}
.character_arrow .thumb #arrow div {width:30%;}


.character_main_box{
	width: 80%;
	margin: auto;
	text-align: center;
	display: table;
}

.movie_title{
	padding-top: 70px;
	padding-bottom: 20px;
	width: 80%;
	margin: auto;
}

.movie_teaser_title{
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
}

.movie_teaser{
	width: 80%;
	margin: auto;
}

.spec_title{
	padding-top: 70px;
	padding-bottom: 20px;
	width: 80%;
	margin: auto;
}

.spec_text_1{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.spec_text_2{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.tablet_image{
	width: 80%;
	}

.character_image_1{
	transition-duration: 10s;
}



.special_text1{
	width: 30%;
	margin: auto;
	padding-top: 20px;
}

.special_text2{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.special_image{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.special_tenpo_wrapper{
	width: 90%;
	margin: auto;
}

.special_limited_text1{
	width: 30%;
	margin: auto;
	padding-top: 20px;
}
.special_limited_text2{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.special_vakoubaibu_bt{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}


.special_limited_text3{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.special_tenpo_bt{
	width: 100%;
	margin: auto;
	text-align: center;
}


.campaign_title{
	padding-top: 70px;
	padding-bottom: 50px;
	width: 80%;
	margin: auto;
}

.gallery_title{
	padding-top: 70px;
	padding-bottom: 0px;
	width: 80%;
	margin: auto;
}

.campaign_text{
	width: 94%;
	margin: auto;
}

.banner_box{
	width:90%;
	margin: auto;
	display:block;
	padding-top: 20px;
}

.banner_left{
	width: 100%;
	text-align: center;
	display: block;
}
.banner_right{
	width: 100%;
	text-align: center;
	display: block;
}
.special_shop_tokuten_title{
	padding-top: 30px;
	width: 90%;
	margin: auto;
}
.special_shop_tokuten_image1{
	width: 90%;
	margin: auto;
	padding-top: 50px;
}
.special_shop_tokuten_image2{
	width: 90%;
	margin: auto;
	padding-top: 50px;
}

.special_shop_tokuten_image3{
	width: 90%;
	margin: auto;
	padding-top: 50px;
}

.music_text_1{
	width: 80%;
	margin: auto;
	padding-top: 20px;
}

.music_text_2{
	width: 80%;
	margin: auto;
	padding-bottom: 60px;
}

.music_text_3{
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
}

.music_text_4{
	width: 80%;
	margin: auto;
	padding-bottom: 60px;
}

.music_text_5{
	width: 80%;
	margin: auto;
	padding-bottom: 60px;
}
.music_text_6{
	width: 80%;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 20px;
}

.music_text_7{
	width: 80%;
	margin: auto;
	padding-bottom: 40px;
	padding-top: 20px;
}

.music_text_8{
	width: 40%;
	margin: auto;
	padding-bottom: 4px;
	padding-top: 20px;
}

.music_text_9{
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
	padding-top: 16px;
}

.music_text_10{
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
	padding-top: 16px;
}

.music_vc_movie{
	width: 80%;
	margin: auto;
	padding-top: 16px;
}

.music_jacket{
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
}
.master_up_box{
	width: 90%;
}


}

